src/main/resources/data/schemas/4.1/IC-COMMON/IC-Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?oxygen SCHSchema="../../Schematron/ISM/ISM_XML.sch"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ism="urn:us:gov:ic:ism"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:common="urn:us:gov:ic:common"
            xmlns="urn:us:gov:ic:common"
            xmlns:xhtml="http://www.w3.org/1999/xhtml"
            attributeFormDefault="qualified"
            elementFormDefault="qualified"
            targetNamespace="urn:us:gov:ic:common"
            xml:lang="en"
            ism:classification="U"
            ism:ownerProducer="USA">
   <xsd:annotation>
      <xsd:documentation>
         <xhtml:h1 ism:ownerProducer="USA" ism:classification="U">Intelligence Community Technical Specification  
        Common XML Structures and Types</xhtml:h1>
      </xsd:documentation>
      <xsd:documentation>
         <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Introduction</xhtml:h2>
         <xhtml:p ism:ownerProducer="USA" ism:classification="U">This XML Schema file is one component of the XML Data Encoding 
        Specification (DES). It is envisioned that this schema or its components, as well as other
        parts of the DES may be overridden for localized implementations. 
        Therefore, permission to use, copy, modify and distribute this XML 
        Schema and the other parts of the DES for any purpose is hereby 
        granted in perpetuity.</xhtml:p>
         <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Please reference the preceding two paragraphs in all copies or
        variations. The developers make no representation about the
        suitability of the schema or DES for any purpose. It is provided 
        "as is" without expressed or implied warranty.</xhtml:p>
         <xhtml:p ism:ownerProducer="USA" ism:classification="U">If you modify this XML Schema in any way label your schema
        as a variant of IC-Common. </xhtml:p>
         <xhtml:p ism:ownerProducer="USA" ism:classification="U">Please direct all questions, bug reports,or suggestions for changes
        to the points of contact identified in the document referenced above.</xhtml:p>
      </xsd:documentation>
  </xsd:annotation>
   <!--***************************************************-->
   <!--Start Import Statements-->
   <!--***************************************************-->
   <xsd:import namespace="http://www.w3.org/1999/xlink" schemaLocation="../XLINK/XLink.xsd"/>
   <xsd:import namespace="urn:us:gov:ic:ism" schemaLocation="../ISM/IC-ISM.xsd"/>
   <!--***************************************************-->
   <!--End Import Statements-->
   <!--***************************************************-->
   <!--***************************************************-->
   <!--Start All case-insensitive alphabetically-->
   <!--***************************************************-->
   
   <xsd:attributeGroup name="NetworkAttributesGroup">
      <xsd:attribute name="network" type="common:NetworkNameVocabularyType" use="optional"
                     form="unqualified">
         <xsd:annotation>
            <xsd:documentation xml:lang="en">
               <xhtml:p ism:ownerProducer="USA" ism:classification="U">
          An Intelligence Community Internet-Protocol-based computer network.  Use this attribute to make explicit the network where the media object addressed by the "xlink:href" URI resides.  Specify "other" if none of the primary choices applies, and use attribute "otherNetwork" to provide an alternative value.
        </xhtml:p>
            </xsd:documentation>
         </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="otherNetwork" type="ism:ShortStringType" use="optional"
                     form="unqualified">
         <xsd:annotation>
            <xsd:documentation xml:lang="en">
               <xhtml:p ism:ownerProducer="USA" ism:classification="U">
          A name of a computer network other than one of the names contained in the controlled vocabulary for attribute "network".  This attribute is optional. However, it must be used when the value of attribute "network" is "other".
        </xhtml:p>
            </xsd:documentation>
         </xsd:annotation>
      </xsd:attribute>
   </xsd:attributeGroup>
   
   <xsd:simpleType name="NetworkNameVocabularyType">
      <xsd:restriction base="xsd:NMTOKEN">
         <xsd:enumeration value="NIPRNet"/>
         <xsd:enumeration value="SIPRNet"/>
         <xsd:enumeration value="JWICS"/>
         <xsd:enumeration value="ADSN"/>
         <xsd:enumeration value="StoneGhost"/>
         <xsd:enumeration value="LOCE"/>
         <xsd:enumeration value="CRONOS"/>
         <xsd:enumeration value="other"/>
      </xsd:restriction>
   </xsd:simpleType>

   <xsd:attributeGroup name="OptionalResourceLinkAttributesGroup">
     	<!--  Removing fixed="resource" and enforcing this constraint in Java, because of XOM's
  		  handling of fixed, optional attributes -->
      <xsd:attribute ref="xlink:type" use="optional"/>
      <xsd:attribute ref="xlink:role" use="optional"/>
      <xsd:attribute ref="xlink:title" use="optional"/>
      <xsd:attribute ref="xlink:label" use="optional"/>
      <xsd:attributeGroup ref="NetworkAttributesGroup"/>
  </xsd:attributeGroup>
   
   <xsd:attributeGroup name="RequiredSimpleLinkAttributesGroup">
      <xsd:annotation>
         <xsd:documentation>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">
        A Schematron rule enforces that for each of the groups below, 
        either @xlink:type or @xlink:href must be specified if any 
        xlink attributes are specified
      </xhtml:p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:attribute ref="xlink:type" fixed="simple" use="optional"/>
      <xsd:attribute ref="xlink:href" use="required"/>
      <xsd:attribute ref="xlink:role" use="optional"/>
      <xsd:attribute ref="xlink:arcrole" use="optional"/>
      <xsd:attribute ref="xlink:title" use="optional"/>
      <xsd:attribute ref="xlink:show" use="optional"/>
      <xsd:attribute ref="xlink:actuate" use="optional"/>
      <xsd:attributeGroup ref="NetworkAttributesGroup"/>
  </xsd:attributeGroup>
   
   <xsd:complexType name="RequiredSimpleLinkType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Basic Type for a required link</xhtml:p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="ism:ShortStringType">
            <xsd:attributeGroup ref="common:RequiredSimpleLinkAttributesGroup"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   
   <xsd:complexType name="RequiredSimpleLinkWithSecurityType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            <xhtml:p ism:ownerProducer="USA" ism:classification="U"> Basic Type for a required link with ISM security on the link</xhtml:p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="RequiredSimpleLinkType">
            <xsd:attributeGroup ref="ism:SecurityAttributesGroup"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   
   <xsd:attributeGroup name="SimpleLinkAttributesGroup">
      <xsd:attributeGroup ref="xlink:simpleAttrs"/>
      <xsd:attributeGroup ref="NetworkAttributesGroup"/>
  </xsd:attributeGroup>
   
   <xsd:attributeGroup name="SimpleOrExtendedLinkAttributesGroup">
      <xsd:annotation>
         <xsd:documentation>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">
        Restricted with Schematron rules restrict xlink:type to be "simple" or "extended"
      </xhtml:p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:attribute ref="xlink:type" use="optional"/>
      <xsd:attribute ref="xlink:href" use="optional"/>
      <xsd:attribute ref="xlink:role" use="optional"/>
      <xsd:attribute ref="xlink:arcrole" use="optional"/>
      <xsd:attribute ref="xlink:title" use="optional"/>
      <xsd:attribute ref="xlink:show" use="optional"/>
      <xsd:attribute ref="xlink:actuate" use="optional"/>
      <xsd:attributeGroup ref="NetworkAttributesGroup"/>
  </xsd:attributeGroup>
   
   <xsd:attributeGroup name="SimpleOrResourceLinkAttributesGroup">
      <xsd:annotation>
         <xsd:documentation>
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">
        Restricted with Schematron rules restrict xlink:type to be "simple" or "resource"
      </xhtml:p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:attribute ref="xlink:type" use="optional"/>
      <xsd:attribute ref="xlink:href" use="optional"/>
      <xsd:attribute ref="xlink:role" use="optional"/>
      <xsd:attribute ref="xlink:arcrole" use="optional"/>
      <xsd:attribute ref="xlink:title" use="optional"/>
      <xsd:attribute ref="xlink:show" use="optional"/>
      <xsd:attribute ref="xlink:actuate" use="optional"/>
      <xsd:attribute ref="xlink:label" use="optional"/>
      <xsd:attributeGroup ref="NetworkAttributesGroup"/>
  </xsd:attributeGroup>
   
   <xsd:simpleType name="UUIDType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            <xhtml:p ism:ownerProducer="USA" ism:classification="U">
               A universally unique identifier UUID. See <xhtml:a href="http://tools.ietf.org/html/rfc4122">http://tools.ietf.org/html/rfc4122</xhtml:a> for more information.
            </xhtml:p>
         </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:ID">
         <xsd:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}">
         </xsd:pattern>
      </xsd:restriction>
   </xsd:simpleType>
   <!--***************************************************-->
   <!--End All case-insensitive alphabetically-->
   <!--***************************************************-->
   <xsd:annotation>
      <xsd:documentation xml:lang="en">
         <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Description</xhtml:h2>
         <xhtml:p ism:ownerProducer="USA" ism:classification="U">Module for defining common types and groups that will be used
      across multiple schema's in the IC.</xhtml:p>
         <xhtml:p ism:ownerProducer="USA" ism:classification="U">This schema defines types and is intended to be called by other  
      schemas in the Intelligence Community.</xhtml:p>
         <xhtml:p ism:ownerProducer="USA" ism:classification="U">This module contains declarations of Types and attribute
      groups to be used in multiple schemas.</xhtml:p>
         <xhtml:p ism:ownerProducer="USA" ism:classification="U">This module depends on ISM.xml and the IC-XLINK modules.</xhtml:p>
         <xhtml:p ism:ownerProducer="USA" ism:classification="U">This module is not designed to be used by itself, it must be called
      by another schema.</xhtml:p>
      </xsd:documentation>
      <xsd:documentation>
         <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Implementation Notes</xhtml:h2>
         <xhtml:p ism:ownerProducer="USA" ism:classification="U">The IC Common schema is not a standalone construct; it is a shared resource that is 
        imported into parent IC XML schemas.</xhtml:p>
      </xsd:documentation>
      <xsd:documentation>
         <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Creators</xhtml:h2>
         <xhtml:p ism:ownerProducer="USA" ism:classification="U">Office of the Director of National Intelligence
        Intelligence Community Chief Information Officer</xhtml:p>
      </xsd:documentation>
  </xsd:annotation>
   <xsd:annotation>
      <xsd:documentation>
         <xhtml:h2 ism:ownerProducer="USA" ism:classification="U">Formal Change List</xhtml:h2>
         <xhtml:table ism:ownerProducer="USA" ism:classification="U" id="ChangeHistory">
            <xhtml:caption>Change History</xhtml:caption>
            <xhtml:thead>
               <xhtml:tr>
                  <th xmlns="">Version</th>
                  <th xmlns="">Date</th>
                  <th xmlns="">By</th>
                  <th xmlns="">Description</th>
               </xhtml:tr>
            </xhtml:thead>
            <xhtml:tbody>
               <xhtml:tr>
                  <xhtml:td/>
                  <xhtml:td>2011-12-27</xhtml:td>
                  <xhtml:td>Stuart, ODNI/OCIO/ICEA</xhtml:td>
                  <xhtml:td>
                     <xhtml:ul>
                        <xhtml:li ism:ownerProducer="USA" ism:classification="U">Added type for UUID</xhtml:li>
                     </xhtml:ul>
                  </xhtml:td>
               </xhtml:tr>
               <xhtml:tr>
                  <xhtml:td/>
                  <xhtml:td>2011-07-25</xhtml:td>
                  <xhtml:td>Colbert, ODNI/OCIO/ICEA</xhtml:td>
                  <xhtml:td>
                     <xhtml:ul>
                        <xhtml:li ism:ownerProducer="USA" ism:classification="U">Combined attributes @network and @otherNetwork into a separate attribute
                  group, and made their form unqualified so that they can be used in other
                  specifications</xhtml:li>
                        <xhtml:li ism:ownerProducer="USA" ism:classification="U">Added reference to NetworkAttributesGroup to each ODNI XLink attribute group
                  in IC-Common</xhtml:li>
                     </xhtml:ul>
                  </xhtml:td>
               </xhtml:tr>
               <xhtml:tr>
                  <xhtml:td/>
                  <xhtml:td>2011-05-05</xhtml:td>
                  <xhtml:td>Colbert, ODNI/OCIO/ICEA</xhtml:td>
                  <xhtml:td>
                     <xhtml:ul>
                        <xhtml:li ism:ownerProducer="USA" ism:classification="U">Added OptionalResourceLinkAttributesGroup for cases when @href is not
                  required</xhtml:li>
                        <xhtml:li ism:ownerProducer="USA" ism:classification="U">Made @type attributes optional instead of required</xhtml:li>
                     </xhtml:ul>
                  </xhtml:td>
               </xhtml:tr>
               <xhtml:tr>
                  <xhtml:td/>
                  <xhtml:td>2011-05-04</xhtml:td>
                  <xhtml:td>Gilsenan, ODNI/OCIO/ICEA</xhtml:td>
                  <xhtml:td>
                     <xhtml:ul>
                        <xhtml:li ism:ownerProducer="USA" ism:classification="U">Replaced references in SimpleLinkAttributesGroup to the simpleAttrs attribute
                  group defined in XLink</xhtml:li>
                     </xhtml:ul>
                  </xhtml:td>
               </xhtml:tr>
               <xhtml:tr>
                  <xhtml:td/>
                  <xhtml:td>2011-05-02</xhtml:td>
                  <xhtml:td>
                     <xhtml:ul>
                        <xhtml:li ism:ownerProducer="USA" ism:classification="U">Colbert, ODNI/OCIO/ICEA</xhtml:li>
                        <xhtml:li ism:ownerProducer="USA" ism:classification="U">Gilsenan, ODNI/OCIO/ICEA</xhtml:li>
                     </xhtml:ul>
                  </xhtml:td>
                  <xhtml:td>
                     <xhtml:ul>
                        <xhtml:li ism:ownerProducer="USA" ism:classification="U">Removed inline definitions of the @type attribute and replaced with 
                  references to the XLink @type attribute</xhtml:li>
                        <xhtml:li ism:ownerProducer="USA" ism:classification="U">Added fixed values, where applicable, for @type to minimize the number of
                  Schematron rules required</xhtml:li>
                     </xhtml:ul>
                  </xhtml:td>
               </xhtml:tr>
               <xhtml:tr>
                  <xhtml:td/>
                  <xhtml:td>2011-04-26</xhtml:td>
                  <xhtml:td>Colbert, ODNI/OCIO/ICEA</xhtml:td>
                  <xhtml:td>
                     <xhtml:ul>
                        <xhtml:li ism:ownerProducer="USA" ism:classification="U">Moved ODNI-specific attribute groups RequiredSimpleLinkAttributesGroup, 
                  SimpleOrResourceAttributesGroup, and SimpleOrExtendedLinkAttributesGroup 
                  from IC-XLink to IC-Common</xhtml:li>
                        <xhtml:li ism:ownerProducer="USA" ism:classification="U">Renamed SimpleOrResourceAttributesGroup to 
                  SimpleOrResourceLinkAttributesGroup</xhtml:li>
                        <xhtml:li ism:ownerProducer="USA" ism:classification="U">Moved String types from IC-Common to IC-ISM and updated namespaces accordingly</xhtml:li>
                     </xhtml:ul>
                  </xhtml:td>
               </xhtml:tr>
            </xhtml:tbody>
         </xhtml:table>
      </xsd:documentation>
  </xsd:annotation>
</xsd:schema>