data/schemas/4.1/DDMS/ddms.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
   xmlns:common="urn:us:gov:ic:common"
   xmlns:ddms="urn:us:mil:ces:metadata:ddms:4"
   xmlns:gml="http://www.opengis.net/gml/3.2"
   xmlns:ICISM="urn:us:gov:ic:ism"
   xmlns:ntk="urn:us:gov:ic:ntk"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns="urn:us:mil:ces:metadata:ddms:4"
   targetNamespace="urn:us:mil:ces:metadata:ddms:4"
   elementFormDefault="qualified" attributeFormDefault="qualified" version="4">
   
   <xs:import namespace="urn:us:gov:ic:common" schemaLocation="../IC-COMMON/IC-Common.xsd" />
   <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml.xsd" />
   <xs:import namespace="urn:us:gov:ic:ism" schemaLocation="../ISM/IC-ISM.xsd" />
   <xs:import namespace="urn:us:gov:ic:ntk" schemaLocation="../NTK/IC-NTK.xsd" />
   <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="../XLINK/XLink.xsd" />
   
   <xs:element name="boundingBox" type="BoundingBoxType" />
   <xs:element name="boundingGeometry" type="BoundingGeometryType" />
   <xs:element name="category" type="CompoundCategoryIdentifierType" />
   <xs:element name="contributor" type="ContactInfoType" />
   <xs:element name="countryCode" type="CompoundCountryCodeIdentifierType" />
   <xs:element name="creator" type="ContactInfoType" />
   <xs:element name="dates" type="DatesType" />
   <xs:element name="description" type="DescriptionType" />
   <xs:element name="extent" type="QualifiedExtentValueType" />
   <xs:element name="facilityIdentifier" type="FacilityIdentifierType" />
   <xs:element name="format" type="FormatType" />
   <xs:element name="geographicIdentifier">
      <xs:complexType>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="name" type="xs:string" />
            <xs:element name="region" type="xs:string" />
            <xs:element ref="ddms:countryCode" />
            <xs:element ref="ddms:subDivisionCode" /> 
            <xs:element ref="ddms:facilityIdentifier" />
         </xs:choice>
      </xs:complexType>
   </xs:element>
   <xs:element name="geospatialCoverage" type="PlaceType" />
   <xs:element name="identifier" type="CompoundResourceIdentifierType" />
   <xs:element name="keyword" type="CompoundKeywordIdentifierType" />
   <xs:element name="language" type="CompoundLanguageIdentifierType" />
   <xs:element name="maxVerticalExtent" type="VerticalDistanceType" />
   <xs:element name="medium" type="MediumType" />
   <xs:element name="metacardInfo" type="MetacardInfoType" />
   <xs:element name="mimeType" type="MimeTypeType" />
   <xs:element name="minVerticalExtent" type="VerticalDistanceType" />
   <xs:element name="nonStateActor" type="NonStateActorCoverageType" />
   <xs:element name="organization" type="OrganizationType" />
   <xs:element name="person" type="PersonType" />
   <xs:element name="pointOfContact" type="ContactInfoType" />
   <xs:element name="postalAddress">
      <xs:complexType>
         <xs:group ref="postalAddressGroup" />
      </xs:complexType>
   </xs:element>
   <xs:element name="processingInfo" type="ProcessingInfoType" />
   <xs:element name="productionMetric" type="ProductionMetricType" />
   <xs:element name="publisher" type="ContactInfoType" />
   <xs:element name="recordsManagementInfo" type="RecordsManagementInfoType" />
   <xs:element name="relatedResource" type="RelatedResourcesType" />
   <xs:element name="resource" type="ResourceType" />
   <xs:element name="resourceManagement" type="ResourceManagementType" />
   <xs:element name="revisionRecall" type="RevisionRecallType" />
   <xs:element name="rights" type="RightsType" />
   <xs:element name="security" type="SecurityType" />
   <xs:element name="service" type="ServiceType" />
   <xs:element name="source" type="CompoundSourceIdentifierType" />
   <xs:element name="subDivisionCode" type="CompoundCountryCodeIdentifierType" />
   <xs:element name="subjectCoverage" type="SubjectType" />
   <xs:element name="subtitle" type="SubtitleType" />
   <xs:element name="temporalCoverage" type="TimePeriodType" />
   <xs:element name="title" type="TitleType" />
   <xs:element name="type" type="CompoundTypeIdentifierType" />
   <xs:element name="unknown" type="UnknownType" />
   <xs:element name="verticalExtent" type="VerticalExtentType" />
   <xs:element name="virtualCoverage" type="VirtualCoverageType" />

   <xs:attribute name="acronym" type="xs:string"/>

   <xs:group name="AccessGroup">
      <xs:sequence>
         <xs:element ref="ntk:Access" minOccurs="0" />
      </xs:sequence>
   </xs:group>
   <xs:group name="postalAddressGroup">
      <xs:sequence>
         <xs:element name="street" type="xs:string" minOccurs="0" maxOccurs="6" />
         <xs:element name="city" type="xs:string" minOccurs="0" />
         <xs:choice minOccurs="0">
            <xs:element name="state" type="xs:string" />
            <xs:element name="province" type="xs:string" />
         </xs:choice>
         <xs:element name="postalCode" type="xs:string" minOccurs="0" />
         <xs:element ref="ddms:countryCode" minOccurs="0" />
      </xs:sequence>
   </xs:group>

   <xs:simpleType name="CombinedDateType">
      <xs:union memberTypes="xs:dateTime ddms:DateHourMinType xs:date xs:gYearMonth xs:gYear" />
   </xs:simpleType>
   <xs:simpleType name="DateApproximationEnumerationType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="1st qtr" />
         <xs:enumeration value="2nd qtr" />
         <xs:enumeration value="3rd qtr" />
         <xs:enumeration value="4th qtr" />
         <xs:enumeration value="circa" />
         <xs:enumeration value="early" />
         <xs:enumeration value="mid" />
         <xs:enumeration value="late" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateHourMinType">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}(Z|[\-\+][0-9]{2}:[0-9]{2})?" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateValueExtensionType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Not Applicable" />
         <xs:enumeration value="Unknown" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ExtendedCombinedDateType">
      <xs:union memberTypes="CombinedDateType DateValueExtensionType" />
   </xs:simpleType>
   <xs:simpleType name="LengthMeasureType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Meter" />
         <xs:enumeration value="Kilometer" />
         <xs:enumeration value="Foot" />
         <xs:enumeration value="StatuteMile" />
         <xs:enumeration value="NauticalMile" />
         <xs:enumeration value="Fathom" />
         <xs:enumeration value="Inch" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="MediumType">
      <xs:restriction base="xs:string" />
   </xs:simpleType>
   <xs:simpleType name="MimeTypeType">
      <xs:restriction base="xs:string" />
   </xs:simpleType>
   <xs:simpleType name="VerticalDatumType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="MSL" />
         <xs:enumeration value="AGL" />
         <xs:enumeration value="HAE" />
      </xs:restriction>
   </xs:simpleType>

   <xs:complexType name="ApproximableDateType">
      <xs:all>
         <xs:element name="description" type="xs:string" minOccurs="0" /> 
         <xs:element name="approximableDate" minOccurs="0">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="CombinedDateType">
                     <xs:attribute name="approximation" type="DateApproximationEnumerationType" />
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="searchableDate" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="start" type="CombinedDateType" />
                  <xs:element name="end" type="CombinedDateType" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:all>
   </xs:complexType>
   <xs:complexType name="BoundingBoxType">
      <xs:sequence>
         <xs:element name="westBL" type="xs:double" />
         <xs:element name="eastBL" type="xs:double" />
         <xs:element name="southBL" type="xs:double" />
         <xs:element name="northBL" type="xs:double" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BoundingGeometryType">
      <xs:choice maxOccurs="unbounded">
         <xs:element ref="gml:Polygon" />
         <xs:element ref="gml:Point" />
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="CompoundCategoryIdentifierType">
      <xs:attribute name="qualifier" type="xs:anyURI" use="optional" />
      <xs:attribute name="code" type="xs:string" use="optional" />
      <xs:attribute name="label" type="xs:string" use="required" />
      <xs:attributeGroup ref="SecurityAttributesOptionGroup" />
      <xs:anyAttribute namespace="##other" processContents="lax" />
   </xs:complexType>
   <xs:complexType name="CompoundCountryCodeIdentifierType">
      <xs:attribute name="qualifier" type="xs:string" use="required" />
      <xs:attribute name="value" type="xs:string" use="required" />
   </xs:complexType>
   <xs:complexType name="CompoundKeywordIdentifierType">
      <xs:attribute name="value" type="xs:string" use="required" />
      <xs:attributeGroup ref="SecurityAttributesOptionGroup" />
      <xs:anyAttribute namespace="##other" processContents="lax" />
   </xs:complexType>
   <xs:complexType name="CompoundLanguageIdentifierType">
      <xs:attribute name="qualifier" type="xs:string" />
      <xs:attribute name="value" type="xs:string" />
   </xs:complexType>
   <xs:complexType name="CompoundResourceIdentifierType">
      <xs:attribute name="qualifier" type="xs:anyURI" use="required" />
      <xs:attribute name="value" type="xs:string" use="required" />
   </xs:complexType>
   <xs:complexType name="CompoundSourceIdentifierType">
      <xs:attribute name="qualifier" type="xs:string" use="optional" />
      <xs:attribute name="value" type="xs:string" use="optional" />
      <xs:attribute name="schemaQualifier" type="xs:string" use="optional" />
      <xs:attribute name="schemaHref" type="xs:anyURI" use="optional" />
      <xs:attributeGroup ref="SecurityAttributesOptionGroup" />
   </xs:complexType>
   <xs:complexType name="CompoundTypeIdentifierType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="qualifier" type="xs:string" />
            <xs:attribute name="value" type="xs:string" />
            <xs:attributeGroup ref="SecurityAttributesOptionGroup" />
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="ContactInfoType">
      <xs:choice>
         <xs:element ref="organization" />
         <xs:element ref="person" />
         <xs:element ref="service" />
         <xs:element ref="unknown" />
      </xs:choice>
      <xs:attributeGroup ref="POCAttributesGroup" />
   </xs:complexType>
   <xs:complexType name="DatesType">
      <xs:sequence>
         <xs:element name="acquiredOn" type="ApproximableDateType" minOccurs="0" maxOccurs="unbounded" />         
      </xs:sequence>
      <xs:attribute name="created" type="CombinedDateType" use="optional" />
      <xs:attribute name="posted" type="CombinedDateType" use="optional" />
      <xs:attribute name="validTil" type="CombinedDateType" use="optional" />
      <xs:attribute name="infoCutOff" type="CombinedDateType" use="optional" />
      <xs:attribute name="approvedOn" type="CombinedDateType" use="optional" />
      <xs:attribute name="receivedOn" type="CombinedDateType" use="optional" />
   </xs:complexType>
   <xs:complexType name="DescriptionType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attributeGroup ref="SecurityAttributesGroup" />
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="FacilityIdentifierType">
      <xs:attribute name="beNumber" type="xs:string" use="required" />
      <xs:attribute name="osuffix" type="xs:string" use="optional" />
   </xs:complexType>
   <xs:complexType name="FormatType">
      <xs:sequence>
         <xs:element ref="mimeType" />
         <xs:element ref="extent" minOccurs="0" />
         <xs:element ref="medium" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MetacardInfoType">
      <xs:sequence>
         <xs:element ref="identifier" maxOccurs="unbounded" />
         <xs:element ref="dates" />
         <xs:element ref="publisher" />
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="creator" maxOccurs="unbounded" />
            <xs:element ref="publisher" maxOccurs="unbounded" />
            <xs:element ref="contributor" maxOccurs="unbounded" />
            <xs:element ref="pointOfContact" maxOccurs="unbounded" />
         </xs:choice>
         <xs:element ref="description" minOccurs="0" maxOccurs="1" />
         <xs:element ref="processingInfo" minOccurs="0" maxOccurs="unbounded" />
         <xs:element ref="revisionRecall" minOccurs="0" />
         <xs:element ref="recordsManagementInfo" minOccurs="0" />
         <xs:element name="noticeList" type="NoticeListType" minOccurs="0" maxOccurs="1" />
         <xs:group ref="AccessGroup"/>
      </xs:sequence>
      <xs:attributeGroup ref="SecurityAttributesOptionGroup" />
   </xs:complexType>   
   <xs:complexType name="NonStateActorCoverageType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="order" type="xs:int" use="optional" />
            <xs:attribute name="qualifier" type="xs:anyURI" use="optional" />
            <xs:attributeGroup ref="SecurityAttributesOptionGroup" />
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="NoticeListType">
      <xs:sequence>
         <xs:element ref="ICISM:Notice" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attributeGroup ref="SecurityAttributesGroup" />
   </xs:complexType>
   <xs:complexType name="OrganizationType">
      <xs:complexContent>
         <xs:extension base="ProducerType">
            <xs:sequence>
               <xs:element name="subOrganization" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="xs:string">
                           <xs:attributeGroup ref="SecurityAttributesGroup" />
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attribute ref="acronym" use="optional" />
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="PersonType">
      <xs:sequence>
         <xs:element name="name" type="xs:string" maxOccurs="unbounded" />
         <xs:element name="surname" type="xs:string" minOccurs="1" maxOccurs="1" />
         <xs:element name="phone" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
         <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
         <xs:element name="userID" type="xs:string" minOccurs="0" />
         <xs:element name="affiliation" type="xs:string" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PlaceType">
      <xs:choice maxOccurs="unbounded">
         <xs:element ref="geographicIdentifier" />
         <xs:element ref="boundingBox" />
         <xs:element ref="boundingGeometry" />
         <xs:element ref="postalAddress" />
         <xs:element ref="verticalExtent" />
      </xs:choice>
      <xs:attribute name="precedence" type="xs:string" use="optional"> </xs:attribute>
      <xs:attribute name="order" type="xs:int" use="optional"> </xs:attribute>
      <xs:attributeGroup ref="SecurityAttributesOptionGroup" />
   </xs:complexType>
   <xs:complexType name="ProcessingInfoType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="dateProcessed" type="CombinedDateType" use="required" />
            <xs:attributeGroup ref="SecurityAttributesGroup" />
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="ProducerBaseType">
      <xs:anyAttribute namespace="##other" processContents="lax" />
   </xs:complexType>
   <xs:complexType name="ProducerType">
      <xs:complexContent>
         <xs:extension base="ProducerBaseType">
            <xs:sequence>
               <xs:element name="name" type="xs:string" maxOccurs="unbounded" />
               <xs:element name="phone" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
               <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ProductionMetricType">
      <xs:attribute name="subject" type="xs:string" use="required" />
      <xs:attribute name="coverage" type="xs:string" use="required" />
      <xs:attributeGroup ref="SecurityAttributesOptionGroup" />
   </xs:complexType>
   <xs:complexType name="QualifiedExtentValueType">
      <xs:attribute name="qualifier" type="xs:anyURI" />
      <xs:attribute name="value" type="xs:string" />
   </xs:complexType>
   <xs:complexType name="RecordsManagementInfoType">
      <xs:sequence>
         <xs:element name="recordKeeper" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="recordKeeperID" type="xs:string" />
                  <xs:element ref="organization" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="applicationSoftware" minOccurs="0">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="xs:string">
                     <xs:attributeGroup ref="SecurityAttributesGroup" />
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="vitalRecordIndicator" type="xs:boolean" use="optional" default="false" />
   </xs:complexType>
   <xs:complexType name="TaskingInfoType">
      <xs:sequence>
         <xs:element name="requesterInfo" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:choice>
                  <xs:element ref="person" />
                  <xs:element ref="organization" />
               </xs:choice>
               <xs:attributeGroup ref="SecurityAttributesGroup" />
            </xs:complexType>
         </xs:element>
         <xs:element name="addressee" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:choice>
                  <xs:element ref="person" />
                  <xs:element ref="organization" />
               </xs:choice>
               <xs:attributeGroup ref="SecurityAttributesGroup" />
            </xs:complexType>
         </xs:element>
         <xs:element ref="description" minOccurs="0" />
         <xs:element name="taskID">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="xs:string">
                     <xs:attribute name="taskingSystem" type="xs:string" use="optional" />
                     <xs:attributeGroup ref="SimpleLinkAttributesGroup" />
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="SecurityAttributesGroup" />
   </xs:complexType>
   <xs:complexType name="RelatedResourcesType">
      <xs:complexContent>
         <xs:extension base="CompoundResourceIdentifierType">
            <xs:sequence>
               <xs:element name="link" maxOccurs="unbounded">
                  <xs:complexType>
                     <xs:attributeGroup ref="xlink:locatorAttrs" />
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="relationship" type="xs:anyURI" use="required" />
            <xs:attribute name="direction" use="optional" default="outbound">
               <xs:simpleType>
                  <xs:restriction base="xs:string">
                     <xs:enumeration value="inbound" />
                     <xs:enumeration value="outbound" />
                     <xs:enumeration value="bidirectional" />
                  </xs:restriction>
               </xs:simpleType>
            </xs:attribute>
            <xs:attributeGroup ref="SecurityAttributesOptionGroup" />
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ResourceManagementType">
      <xs:sequence>
         <xs:element ref="recordsManagementInfo" minOccurs="0" />
         <xs:element ref="revisionRecall" minOccurs="0" />
         <xs:element name="taskingInfo" type="TaskingInfoType" minOccurs="0" maxOccurs="unbounded" />
         <xs:element ref="processingInfo" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attributeGroup ref="SecurityAttributesOptionGroup" />
   </xs:complexType>
   <xs:complexType name="ResourceType">
      <xs:sequence>
         <xs:element ref="metacardInfo" minOccurs="1" maxOccurs="1" />
         <xs:element ref="identifier" maxOccurs="unbounded" />
         <xs:element ref="title" maxOccurs="unbounded" />
         <xs:element ref="subtitle" minOccurs="0" maxOccurs="unbounded" />
         <xs:element ref="description" minOccurs="0" />
         <xs:element ref="language" minOccurs="0" maxOccurs="unbounded" />
         <xs:element ref="dates" minOccurs="0" />
         <xs:element ref="rights" minOccurs="0" />
         <xs:element ref="source" minOccurs="0" maxOccurs="unbounded" />
         <xs:element ref="type" minOccurs="0" maxOccurs="unbounded" />
         <xs:choice maxOccurs="unbounded">
            <xs:element ref="creator" maxOccurs="unbounded" />
            <xs:element ref="publisher" maxOccurs="unbounded" />
            <xs:element ref="contributor" maxOccurs="unbounded" />
            <xs:element ref="pointOfContact" maxOccurs="unbounded" />
         </xs:choice>
         <xs:element ref="format" minOccurs="0" />
         <xs:element ref="subjectCoverage" maxOccurs="unbounded" />
         <xs:element ref="virtualCoverage" minOccurs="0" maxOccurs="unbounded" />
         <xs:element ref="temporalCoverage" minOccurs="0" maxOccurs="unbounded" />
         <xs:element ref="geospatialCoverage" minOccurs="0" maxOccurs="unbounded" />
         <xs:element ref="relatedResource" minOccurs="0" maxOccurs="unbounded" />
         <xs:element ref="resourceManagement" minOccurs="0" maxOccurs="1" />
         <xs:element ref="security" />
         <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" /> 
      </xs:sequence>
      <xs:attributeGroup ref="RootSecurityAttributesGroup" />
      <xs:attributeGroup ref="MetacardSecurityAttributesGroup" />
      <xs:anyAttribute namespace="##other" processContents="lax" />
   </xs:complexType>
   <xs:complexType name="RevisionRecallType" mixed="true">
      <xs:sequence minOccurs="1" maxOccurs="1">
         <xs:element name="link" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:attributeGroup ref="xlink:locatorAttrs" />
               <xs:attributeGroup ref="SecurityAttributesGroup" />
            </xs:complexType>
         </xs:element>
         <xs:element name="details" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="xs:string">
                     <xs:attributeGroup ref="SecurityAttributesGroup" />
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="revisionID" type="xs:int" use="required" />
      <xs:attribute name="revisionType" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="ADMINISTRATIVE RECALL" />
               <xs:enumeration value="ADMINISTRATIVE REVISION" />
               <xs:enumeration value="SUBSTANTIVE RECALL" />
               <xs:enumeration value="SUBSTANTIVE REVISION" />
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="SecurityAttributesGroup" />
      <xs:attributeGroup ref="OptionalResourceLinkAttributesGroup" />
   </xs:complexType>
   <xs:complexType name="RightsType">
      <xs:attribute name="privacyAct" type="xs:boolean" default="false" />
      <xs:attribute name="intellectualProperty" type="xs:boolean" default="false" />
      <xs:attribute name="copyright" type="xs:boolean" default="false" />
   </xs:complexType>
   <xs:complexType name="SecurityType">
      <xs:sequence>
         <xs:element name="noticeList" type="NoticeListType" minOccurs="0" maxOccurs="1" />
         <xs:group ref="AccessGroup"/>
      </xs:sequence>
      <xs:attribute ref="ICISM:excludeFromRollup" use="required" fixed="true" />
      <xs:attributeGroup ref="SecurityAttributesGroup" />
   </xs:complexType>
   <xs:complexType name="ServiceType">
      <xs:complexContent>
         <xs:extension base="ProducerType" />
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="SubjectType">
      <xs:choice maxOccurs="unbounded">
         <xs:element ref="category" />
         <xs:element ref="keyword" />
         <xs:element ref="productionMetric" />
         <xs:element ref="nonStateActor" />
      </xs:choice>
      <xs:attributeGroup ref="SecurityAttributesOptionGroup" />
   </xs:complexType>
   <xs:complexType name="SubtitleType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attributeGroup ref="SecurityAttributesGroup" />
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="TimePeriodType">
      <xs:sequence>
         <xs:element name="name" type="xs:string" default="Unknown" minOccurs="0" />
         <xs:choice>
            <xs:element name="start" type="ExtendedCombinedDateType" default="Unknown" />
            <xs:element name="approximableStart" type="ApproximableDateType" />
         </xs:choice>
         <xs:choice>
            <xs:element name="end" type="ExtendedCombinedDateType" default="Unknown" />
            <xs:element name="approximableEnd" type="ApproximableDateType" />
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="SecurityAttributesOptionGroup" />
   </xs:complexType>
   <xs:complexType name="TitleType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attributeGroup ref="SecurityAttributesGroup" />
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="UnknownType">
      <xs:complexContent>
         <xs:extension base="ProducerType" />
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="VerticalDistanceType">
      <xs:simpleContent>
         <xs:extension base="xs:double">
            <xs:attribute name="unitOfMeasure" type="LengthMeasureType" use="optional" />
            <xs:attribute name="datum" type="VerticalDatumType" use="optional" />
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="VerticalExtentType">
      <xs:sequence>
         <xs:element ref="minVerticalExtent" />
         <xs:element ref="maxVerticalExtent" />
      </xs:sequence>
      <xs:attribute name="unitOfMeasure" type="LengthMeasureType" use="required" />
      <xs:attribute name="datum" type="VerticalDatumType" use="required" />
   </xs:complexType>
   <xs:complexType name="VirtualCoverageType">
      <xs:attribute name="protocol" type="xs:string" use="optional" />
      <xs:attribute name="address" type="xs:string" use="optional" />
      <xs:attributeGroup ref="SecurityAttributesOptionGroup" />
   </xs:complexType>
   
   <xs:attributeGroup name="MetacardSecurityAttributesGroup">
      <xs:attributeGroup ref="ICISM:ResourceNodeAttributeGroup" />
   </xs:attributeGroup>
   <xs:attributeGroup name="OptionalResourceLinkAttributesGroup">
      <xs:attributeGroup ref="common:OptionalResourceLinkAttributesGroup" />
   </xs:attributeGroup>
   <xs:attributeGroup name="POCAttributesGroup">
      <xs:attributeGroup ref="ICISM:POCAttributeGroup" /> 
      <xs:attributeGroup ref="SecurityAttributesOptionGroup" />
   </xs:attributeGroup>
   <xs:attributeGroup name="RootSecurityAttributesGroup">
      <xs:attributeGroup ref="ICISM:ISMRootNodeAttributeGroup" />
      <xs:attributeGroup ref="ntk:NTKRootNodeAttributeGroup" />
   </xs:attributeGroup>
   <xs:attributeGroup name="SecurityAttributesGroup">
      <xs:attributeGroup ref="ICISM:SecurityAttributesGroup" />
   </xs:attributeGroup>
   <xs:attributeGroup name="SecurityAttributesOptionGroup">
      <xs:attributeGroup ref="ICISM:SecurityAttributesOptionGroup" />
   </xs:attributeGroup>
   <xs:attributeGroup name="SimpleLinkAttributesGroup">
      <xs:attributeGroup ref="common:SimpleLinkAttributesGroup" />
   </xs:attributeGroup>
</xs:schema>