src/main/resources/data/schemas/2.0/ISM/IC-ISM-v2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- **************************************************************** -->
<!--                            UNCLASSIFIED                          -->
<!-- **************************************************************** -->
<!-- ****************************************************************
	IC Information Security	Marking (IC ISM)
	****************************************************************
	Module:   IC ISM
	Version:  2.1 (pre-release)
	Date:     2008-07-10
	Creators: Office of the Director of National Intelligence
	**************************************************************** -->
<!-- **************************************************************** -->
<!--                            INTRODUCTION                          -->
<!-- **************************************************************** -->
<!-- Intelligence Community Information Security Marking (IC ISM)
	was developed by the Office of the Director of National Intelligence
	(ODNI) for the express purpose of promoting document, product, and 
	general content interoperability between members of the Intelligence
	Community.
	
	IC ISM is being incorporated into the overall information sharing 
	policy and data standards framework of the ODNI in support of the 
	Information Sharing Strategy. It is expected that the name IC ISM
	will be deprecated as the transition to the new framework is 
	completed.
	
	It is envisioned that this schema or its components may be overriden
	for localized implementations. Therefore, permission to use, copy, 
	modify and distribute the IC ISM XML Schema and its accompanying 
	documentation for any purpose is hereby granted in perpetuity.
	
	Please reference the preceding two paragraphs in all copies or 
	variations. The developers make no representation about the 
	suitability of the schema for any purpose. It is provided "as is"
	without expressed or implied warranty.
	
	If you modify the IC ISM XML Schema in any way label your schema 
	as a variant of IC ISM. See the maintenance documentation as it 
	becomes available for more information.
	
	Please direct all questions, bug reports,or suggestions for changes
	to the Office of the Director of National Intellligence, Office of
	the Chief Information Officer
-->
<!-- **************************************************************** -->
<!--    
     This file provides an XML-based schema for specification of metadata
     for classification and controls markings.  The goal of the IC ISM XML
     Schema is to provide a common set of XML attributes for implementing
     security-based metadata throughout the IC. The IC ISM XML Schema
     provides markup for the tokens that are used to format the CAPCO
     markings.
     
     The IC ISM XML Schema may be incorporated into organizational 
     XML-based schemas by (a) declaring the IC ISM v2.0 namespace and
     (b) inserting an "import" statement:

        <xsd:schema
            xmlns="...my namespace name..."
            targetNamespace="...my namespace name..."
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ism="urn:us:gov:ic:ism:v2">
        ...
        <xsd:import 
            namespace="urn:us:gov:ic:ism:v2"
            schemaLocation="IC-ISM-v2.xsd" />
		
     IMPLEMENTATION NOTES:
     
     1. Refer to the Implementation Profile for Information Security Markings
        (XML Encoding), version 1.0 for an explanation of the relationships 
        of the IC ISM attributes and the associated controlled vocabularies.
        The CAPCO Register and CAPCO Implementation Manual provide business
        rules (that may be classified) not provided in this schema or 
        the associated documentation.
         
     2. The IC ISM attributes are intended to support all CAPCO security
        markings.  However, the attribute values are NOT intended to be
        verbatim pieces of portionmarks and banners.  Instead, the values
        should be interpreted by XSLT stylesheets or other formatting speci-
        fications to produce the required portionmarks and banners.

     3. The IC ISM schema is not a standalone construct; it should be
        imported into a parent XML schema.
     
     4. The controlled vocabularies containing the required values for popu-
        lating the attributes are described in the Implementation Profile
        Supplement: Value Enumerations, which also provides pointers to the 
        authoritative sources for those value sets maintained by other
        organizations.
        
     5. Attribute group "SecurityAttributesGroup" should be referenced
        in the attribute definition list of any element that REQUIRES 
        security metadata.
     
     6. Attribute group "SecurityAttributesOptionGroup" may be referenced
        in the attribute definition list of any element for which
        security metadata may be appropriate but is not required (such
        as, an individual cell of a table).
-->
<!-- **************************************************************** -->
<!-- **************************************************************** -->
<!--                       Formal Change List                         -->
<!-- **************************************************************** -->
<!-- The formal change list is at the end of this file.               -->
<!-- **************************************************************** -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:us:gov:ic:ism:v2" targetNamespace="urn:us:gov:ic:ism:v2" elementFormDefault="qualified" xml:lang="en">
  <xsd:annotation>
    <xsd:documentation>
			W3C XML Schema for the Intelligence Community Metadata Standard for Information Security Marking (IC-ISM), which is part of the Implementation profile for Information Security Markings (XML Encoding).
		</xsd:documentation>
  </xsd:annotation>
  <!-- ************************************************************* -->
  <!-- TYPE DEFINITIONS ................................           . -->
  <!-- ************************************************************* -->
  <xsd:simpleType name="ClassificationType">
    <xsd:annotation>
      <xsd:documentation>This simple type is used by the classificatin attribute to identify the highest level of classification of the information being encoded. It is manifested in portion marks and security banners.

PERMISSIBLE VALUES

The permissible values for this simple type are defined in the Implementation Profile Supplement: Value Enumerations in the value sets:

US Classification Markings – Authorized Portion Markings
NATO Classification Markings – Authorized Portion Markings

			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="U">
        <xsd:annotation>
          <xsd:documentation>
						US, non-US or joint UNCLASSIFIED.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="C"/>
      <xsd:enumeration value="S"/>
      <xsd:enumeration value="TS"/>
      <xsd:enumeration value="R"/>
      <xsd:enumeration value="CTS"/>
      <xsd:enumeration value="CTS-B"/>
      <xsd:enumeration value="CTS-BALK"/>
      <xsd:enumeration value="NU"/>
      <xsd:enumeration value="NR"/>
      <xsd:enumeration value="NC"/>
      <xsd:enumeration value="NS"/>
      <xsd:enumeration value="NS-S"/>
      <xsd:enumeration value="NS-A"/>
      <xsd:enumeration value="CTSA"/>
      <xsd:enumeration value="NSAT"/>
      <xsd:enumeration value="NCA"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ************************************************************* -->
  <!-- ATTRIBUTE GROUP DEFINITIONS ................................. -->
  <!-- ************************************************************* -->
  <xsd:attributeGroup name="SecurityAttributesGroup">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The group of Information Security Marking attributes in which the use of attributes 'classification' and 'ownerProducer' is required. 

This group is to be contrasted with group 'SecurityAttributesOptionGroup' in which use of those attributes is optional.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ref="classification" use="required"/>
    <xsd:attribute ref="ownerProducer" use="required"/>
    <xsd:attribute ref="SCIcontrols" use="optional"/>
    <xsd:attribute ref="SARIdentifier" use="optional"/>
    <xsd:attribute ref="disseminationControls" use="optional"/>
    <xsd:attribute ref="FGIsourceOpen" use="optional"/>
    <xsd:attribute ref="FGIsourceProtected" use="optional"/>
    <xsd:attribute ref="releasableTo" use="optional"/>
    <xsd:attribute ref="nonICmarkings" use="optional"/>
    <xsd:attribute ref="classifiedBy" use="optional"/>
    <!-- ******* v2.1  added derivativelyClassifiedBy ******* -->
    <xsd:attribute ref="derivativelyClassifiedBy" use="optional"/>
    <xsd:attribute ref="classificationReason" use="optional"/>
    <xsd:attribute ref="derivedFrom" use="optional"/>
    <xsd:attribute ref="declassDate" use="optional"/>
    <xsd:attribute ref="declassEvent" use="optional"/>
    <xsd:attribute ref="declassException" use="optional"/>
    <xsd:attribute ref="typeOfExemptedSource" use="optional"/>
    <xsd:attribute ref="dateOfExemptedSource" use="optional"/>
    <xsd:attribute ref="declassManualReview" use="optional"/>
  </xsd:attributeGroup>
  <xsd:attributeGroup name="SecurityAttributesOptionGroup">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The group of Information Security Marking attributes in which the use of attributes 'classification' and 'ownerProducer' is optional. 

This group is to be contrasted with group 'SecurityAttributesGroup' in which use of these attributes is required.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute ref="classification" use="optional"/>
    <xsd:attribute ref="ownerProducer" use="optional"/>
    <xsd:attribute ref="SCIcontrols" use="optional"/>
    <xsd:attribute ref="SARIdentifier" use="optional"/>
    <xsd:attribute ref="disseminationControls" use="optional"/>
    <xsd:attribute ref="FGIsourceOpen" use="optional"/>
    <xsd:attribute ref="FGIsourceProtected" use="optional"/>
    <xsd:attribute ref="releasableTo" use="optional"/>
    <xsd:attribute ref="nonICmarkings" use="optional"/>
    <xsd:attribute ref="classifiedBy" use="optional"/>
    <!-- ******* v2.1  added derivativelyClassifiedBy ******* -->
    <xsd:attribute ref="derivativelyClassifiedBy" use="optional"/>
    <xsd:attribute ref="classificationReason" use="optional"/>
    <xsd:attribute ref="derivedFrom" use="optional"/>
    <xsd:attribute ref="declassDate" use="optional"/>
    <xsd:attribute ref="declassEvent" use="optional"/>
    <xsd:attribute ref="declassException" use="optional"/>
    <xsd:attribute ref="typeOfExemptedSource" use="optional"/>
    <xsd:attribute ref="dateOfExemptedSource" use="optional"/>
    <xsd:attribute ref="declassManualReview" use="optional"/>
  </xsd:attributeGroup>
  <!-- ************************************************************* -->
  <!-- GLOBAL ATTRIBUTE DECLARATIONS ............................... -->
  <!-- ************************************************************* -->
  <xsd:attribute name="classification" type="ClassificationType">
    <xsd:annotation>
      <xsd:documentation>This attribute is used at both the resource and the portion levels to identify the highest level of classification of the information. It is manifested in portion marks and security banners.
	
This data element is always used in conjunction with the "ownerProducer" data element. Taken together, the two elements specify the classification category and the type of classification (US, non-US, or joint).

PERMISSIBLE VALUES

The permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value set: 

US Classification Markings – Authorized Portion Markings
NATO Classification Markings – Authorized Portion Markings

      </xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="ownerProducer">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used at both the resource and the portion levels to identify the national government or international organization owner(s) and/or producer(s) of the information. The attribute value may be manifested in portion marks or security banners.

This data element is always used in conjunction with the "classification" data element. Taken together, the two elements specify the classification category and the type of classification (US, non-US, or joint).

The value of this data element may potentially indicate the non-disclosable owner(s) and/or producer(s) of information categorized as foreign government information according to CAPCO guidelines for which the source(s) of the information must be concealed when the resource is disseminated to shared spaces. This situation is acceptable within protected internal organizational spaces. However, when this situation exists, additional measures must be taken prior to dissemination of the resource to shared spaces so that the non-disclosable owner(s) and/or producer(s) of information within the resource will be concealed. Under these specific circumstances, within shared spaces, this data element’s value should be "FGI".

PERMISSIBLE VALUES

1) The value "FGI" is permited under the circumstances described above.

2) Other permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value sets:

ISO 3166-1 Country Trigraphs Codes
Registered International Organizations and Alliances Tetragraphs
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS"/>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="SCIcontrols">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used at both the resource and the portion levels to identify classified information concerning or derived from intelligence sources, methods, or analytical processes which is required to be handled within formal control systems established by the DCI (in accordance with DCID 1/19, Section 1.1). It is manifested in portion marks and security banners.				
				
For the "SI-ECI-XXX" permissible value, "XXX" is a placeholder for ECI program designator alphabetic trigraphs, which are classified and are therefore not included here.
Additional classified and unpublished SCI control system abbreviations are not included here.

PERMISSIBLE VALUES

The permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value set:

SCI Control System Markings – Authorized Portion Markings
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS"/>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="SARIdentifier">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used at both the resource and the portion levels to identify Special Access Required program identifier(s). It is manifested in portion marks and security banners.

PERMISSIBLE VALUES

The permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value set:

Special Access Program Markings – Authorized Portion Markings
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS"/>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="disseminationControls">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used at both the resource and the portion levels to identify the expansion or limitation on the DISTRIBUTION of the information. It is manifested in portion marks and security banners.

PERMISSIBLE VALUES

The permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value set:

Dissemination Control Markings – Authorized Portion Markings

</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS"/>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="FGIsourceOpen">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used at both the resource and the portion levels within US CONTROLLED resources or US/non-US jointly CONTROLLED resources. The attribute is used to identify the known and disclosable originating source (country or registered international organization) or sources of information of non-US origin, or to indicate that the source of information of non-US origin is unknown. It is manifested in portion marks and security banners.

PERMISSIBLE VALUES

1) The value "UNKNOWN" is permited under the circumstances described above.

2) Other permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value sets:

ISO 3166-1 Country Trigraph Codes
Registered International Organizations and Alliances Tetragraphs
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS"/>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="FGIsourceProtected">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used at both the resource and the portion levels within US CONTROLLED resources or US/non-US jointly CONTROLLED resources. This attribute has unique specific rules concerning its usage. 

An indication that information qualifies as foreign government information according to CAPCO guidelines for which the source(s) of the information must be concealed when the information is disseminated in shared spaces

This data element has a dual purpose. Within shared spaces, the data element serves only to indicate the presence of information which is categorized as foreign government information according to CAPCO guidelines for which the source(s) of the information is concealed. Within shared spaces, this data element’s value will always be "FGI". The data element may also be employed in this manner within protected internal organizational spaces. However, within protected internal organizational spaces this data element may alternatively be used to maintain a formal record of the foreign country or countries and/or registered international organization(s) that are the non-disclosable owner(s) and/or producer(s) of information which is categorized as foreign government information according to CAPCO guidelines for which the source(s) of the information must be concealed when the resource is disseminated to shared spaces. If the data element is employed in this manner, then additional measures must be taken prior to dissemination of the resource to ICSIS shared spaces so that any indications of the non-disclosable owner(s) and/or producer(s) of information within the resource are eliminated.

In all cases, the corresponding portion marking or banner marking should be compliant with CAPCO guidelines for FGI when the source must be concealed. In other words, even if the data element is being employed within protected internal organizational spaces to maintain a formal record of the non-disclosable owner(s) and/or producer(s) within an XML resource, if the resource is rendered for display within the protected internal organizational spaces in any format by a stylesheet or as a result of any other transformation process, then the non-disclosable owner(s) and/or producer(s) should not be included in the corresponding portion marking or banner marking.

PERMISSIBLE VALUES

1) The value "FGI" is permited under the circumstances described above.

2) Other permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value sets:

ISO 3166-1 Country Trigraph Codes
Registered International Organizations and Alliances Tetragraphs
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS"/>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="releasableTo">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used at both the resource and the portion levels to identify the country or countries and/or international organization(s) to which classified information may be released based on the determination of an originator in accordance with established foreign disclosure procedures. It is manifested in portion marks and security banners.

PERMISSIBLE VALUES

The permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value sets:

ISO 3166-1 Country Trigraph Codes
Registered International Organizations and Alliances Tetragraphs
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS"/>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="nonICmarkings">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used at both the resource and the portion levels to identify classified information originating from non-intel components of the US Department of Defense or the US Department of Energy. It is manifested in portion marks and security banners.

LAW ENFORCEMENT SENSITIVE (LES) is not an authorized IC classification and control marking in the CAPCO Register. However, CAPCO has published interim marking guidance concerning the incorporation of LES information into IC products. "LES" has been included as a permissible value for attribute "nonICmarkings" in IC ISM in order to facilitate compliance with the CAPCO interim marking guidance in XML-based products.

PERMISSIBLE VALUES

The permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value set:

Non-IC Markings – Authorized Portion Markings
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS"/>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="classifiedBy">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used primarily at the resource level to specify the identity, by name or personal identifier, and position title of the original classification authority for a resource. It is manifested only in the 'Classified By' line of a resource’s Classification/Declassification block.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:attribute>
  <!-- ******* v2.1  declared derivativelyClassifiedBy ******* -->
  <xsd:attribute name="derivativelyClassifiedBy">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used primarily at the resource level to specify the identity, by name or personal identifier, and position title of the derivitive classifier for a resource. It is manifested only in the 'Classified By' line of a resource’s Classification/Declassification block.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="classificationReason">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used primarily at the resource level to specify the basis for an original classification decision. It is manifested only in the 'Reason' line of a resource’s Classification/Declassification block.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="derivedFrom">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used primarily at the resource level as a citation of the authoritative source of the classification markings used in a resource. It is manifested only in the 'Derived From' line of a document's classification/declassification block.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="declassDate">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used primarily at the resource level to specify a year, month and day for declassification, upon the occurrence of which the information shall be automatically declassified. It is manifested in the declassification date field of a resource’s security banners and in the 'Declassify On' line of a resource's classification/declassification block.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="declassEvent">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used primarily at the resource level to specify a description of an event for declassification, upon the occurrence of which the information shall be automatically declassified. It is manifested only in the 'Declassify On' line of a resource’s classification/declassification block.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="declassException">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used primarily at the resource level to specify one or more exceptions to the nominal 25-year point for automatic declassification. It is manifested in the declassification date field of a resource’s security banners and in the 'Declassify On' line of a resource’s classification/declassification block.

PERMISSIBLE VALUES

The permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value set:

Exemption from 25-Year Automatic Declassification Markings

			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS"/>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="typeOfExemptedSource">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used primarily at the product level to specify a marking of a source document that causes the current document to be exempted from automatic declassification. It is manifested only in the 'Declassify On' line of a document's classification/declassification block.

PERMISSIBLE VALUES

The permissible values for this attribute are defined in the Implementation Profile Supplement: Value Enumerations in the value set:

Source Document Declassification Instruction Markings

			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:NMTOKENS"/>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="dateOfExemptedSource">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used primarily at the resource level to specify the year, month and day of publication or release of a source document, or the most recent source document, that was itself marked with an exeption from automatic declassification. It is manifested only in the 'Declassify On' line of a resource’s Classification/Declassification block.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="declassManualReview">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
This attribute is used primarily at the resource level as an indication of the need for manual review for declassification of the information, over and above the usual programmatic determinations.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
  </xsd:attribute>
  <!-- ***************************************************************
                             USAGE GUIDELINES
     ***************************************************************
     
     1. Use "classification" and "ownerProducer" together to specify
     the classification and type of classification.
     
        a. If "ownerProducer" equals "USA," the classification is
        a US classification and is restricted to "U," "C," "S" and
        "TS."
        
        b. If "ownerProducer" equals a trigraph other than "USA" or
        equals a tetragraph, the classification is a non-US classi-
        fication.
        
        c. If "ownerProducer" equals two or more trigraphs or tetra-
        graphs, the classification is a joint classification. If "USA"
        is one of the trigraphs, the classification values are 
        restricted as shown in a, above. If "USA" is not listed, the
        permissible classification values include "R" in addition to
        those in a, above.
        
     2. Use "classifiedBy" and "classificationReason" for original
     classifications. Use "derivedFrom" for derived classifications.
     
     3. Use one and only one of:
     
        "declassDate"
        "declassEvent"
        "declassException"
        "typeOfExemptedSource"
        
     4. If "typeOfExemptedSource" is used, "dateOfExemptedSource" must
     also be used.
     
     5. Use "declassManualReview" to force the appearance of "//MR" in
     header and footer marking titles. Otherwise, the applicability of
     manual review should be determined from the other markings in the
     document.
     
     6. Attribute "FGIsourceProtected" is included for use by organiza-
     tions that want to use IC ISM internally and track protected
     sources within the origanization private spaces. It is not
     anticipated that this attribute will be used in documents posted
     to the shared spaces.
-->
  <!-- **************************************************************
                            CHANGE HISTORY
     **************************************************************
*
* VERSION: 1.0
* DATE:    2002-07-05
* BY:      IC MWG
* PURPOSE: Released as a registered, production XML entity set.
*
* VERSION: 2.0
* DATE:    2004-04-30
* BY:      IC MWG
* PURPOSE: Updated to support changes to the CAPCO Register and
           Implementation Manual.
* 
*     - Added "ownerProducer" as a required attribute for entity
*       "SecurityAttributes" and as an optional attribute for entity
*       "SecurityAttributesOption."  Purpose is to provide a single method
*       for specification of US, non-US, and joint classifications.
*
*     - Changed the enumerated list that is the declared value of attribute
*       "classification" in order to accommodate non-US classifications.
*     
*     - Added optional attribute "SARIdentifier" as a separate container for
*       DoD/DoE special-access-required nicknames, codewords, or trigraph/
*       digraph to support elevation of SAR to the same level as SCI controls.
*
*     - Added optional attributes "classifiedBy" and "classificationReason"
*       to support generation of EO 12958 classification/declassification
*       blocks.
*
*     - Changed the declared value of "derivedFrom" to CDATA to allow the titles
*       and dates of source documents or classification guides to be specified.
*
*     - Replaced the single attribute "declassification" with distinct attri-
*       butes for date-determined and event-determined declassification and
*       for the 25X declassification exceptions.
*
*     - Added attributes "typeOfExemptedSource" and "dateOfExemptedSource" for
*       use in specifying that one or more sources was marked OADR, X1 through
*       X8, or X-Foreign Relations.
*
*     - Added attribute "declassManualReview" for use in forcing "MR" to
*       appear in header and footer banners (regardless of whether any
*       caveats in the portions would necessitate manual review).
*     
*     
* VERSION: 2.1
* DATE:    2008-06-03
* BY:      ODNI OCIO ICIS
* PURPOSE: Updated to support ICD206
* 
*     - Added "DerivativelyClassifiedBy" to allow capturing information about 
        a derivative classifier separate from an original classifer
******************************** END CHANGE HISTORY ************************ -->
  <!-- *********************************************************************** -->
  <!--                               UNCLASSIFIED                              -->
  <!-- *********************************************************************** -->
</xsd:schema>
